



body {
	background-image:url("user.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	height: 120vh;
}

form {
 	background:white; 
  width:300px;
  margin:30px auto;
  border-radius:0d.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
 
}

label {
 	color:#666;
  display:block;
  padding-bottom:9px;
}

input[type=text],
input[type=password] {
 	width:100%;
  padding:8px 5px;
  background:white;
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
}


input[type=submit] {
 	padding:5px 20px;
  
  box-shadow:
    
  border-radius:0.3em;
  background:blue;
  color:WHITE;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

