<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ClaimCreation</servlet-name>
  	<display-name>ClaimCreation</display-name>
  	<description></description>
  	<servlet-class>com.cg.controller.ClaimCreation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClaimCreationSevlet</servlet-name>
  	<display-name>ClaimCreationSevlet</display-name>
  	<description></description>
  	<servlet-class>com.cg.controller.ClaimCreationSevlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClaimDetails</servlet-name>
  	<display-name>ClaimDetails</display-name>
  	<description></description>
  	<servlet-class>com.cg.controller.ClaimDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClaimCreation</servlet-name>
  	<url-pattern>/ClaimCreation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClaimCreationSevlet</servlet-name>
  	<url-pattern>/ClaimCreationSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClaimDetails</servlet-name>
  	<url-pattern>/ClaimDetails</url-pattern>
  </servlet-mapping>
 
  
</web-app>
